.dn__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 48px;
}
.btn__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.dn__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 32px;
    box-shadow: #fff 0px 0px 10px 10px;
}
.dn__row {
    margin: 0 auto;
}
.dn__container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    
    box-shadow: rgb(0, 0, 0) 10px 10px 30px .2px;
}
.dn__link {
    padding: 32px 0px;
    font-size: 18px;
}
.dn__content img {
    width: 90%;
    box-shadow: #fff 0px 0px 10px 10px;
}
.dn__content p {
    width: 100%;
}
.dn__content iframe {
    width: 100%;
}
@media (max-width: 800px) {
    .dn__title {
        font-size: 24px;
    }
    .dn__container {
        padding: 0;
    }
    .dn__content img {
        width: 250px;
        height: 150px;
    }
    p {
        font-size: 16px;
    }
    .dn__content iframe {
        width: 300px;
        height: 200px;
    }
    .dn__link { 
        font-size: 16px;
        width: 80%;
    }
    .dn__sub--title { 
        font-size: 20px;
        width: 90%;
    }
    .previous, .next {
        width: 200px;
        padding: 18px 34px;
        margin: 64px;
    }
    @media (max-width: 484px){
        .dn__wrapper {
            padding: 18px 0px;
        }
        .dn__title, .dn__link, .dn__sub--title {
            font-size: 12px;
        }
        .previous, .next {
            margin: 6px;
        }
        .previous, .next {
            width: 100px;
            font-size: 8px;
            padding: 9px 22px;
            margin: 12px 6px;
            box-shadow: none;
        }
        
    }
}
